html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  /*  z-index: 0;*/
  background-color: #e6ecff;
}


/***************** PANEL ELEMENTS ****************/

#shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 59;
  background-color: rgba( 0, 0, 0, 0.5);
  opacity: 1;
  /*
  -webkit-
  -moz-
  -ms-
  -o-
*/
  -webkit-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  -moz-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  -ms-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
}

#shadow.closed {
  z-index: -1;
  opacity: 0;
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  margin: 20px;*/
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
  background-color: white;
  z-index: 60;
  text-align: center;
  opacity: 1;
  /*
  -webkit-transition: 
  -moz-transition: 
  -ms-transition: 
  -o-transition: 
*/
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

#inputPanel {
  width: 165px;
}

.panel.closed {
  top: 145px;
  left: 20px;
  width: 32px;
  height: 110px;
  opacity: 0;
  z-index: 49;
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, opacity 1s ease-out;
}

button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  background-color: white;
  opacity: 0.5;
  font-size: 16px;
}

button.close:hover,
button.close:active {
  opacity: 1;
}


/*
#elecPanel > div,
#inputPanel > div {
  display: inline-block;
  position: relative;
}
*/

#pcInput,
#pcButton {
  z-index: 60;
  height: 30px;
  font-size: 16px;
}

#pcInput {
  width: 75px;
  margin: 0 0 20px 0;
  color: #008060;
  /*  text-align: right;*/
  border: 3px solid #888888;
  padding: 0 20px 0 5px;
  text-align: left;
}


/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*/

#pcInput:valid {
  background-color: #ddf8f8;
}

#pcInput:invalid {
  color: red;
  background-color: #f8dddd;
  /*  Marching ants*/
  background-image: -webkit-linear-gradient(left, #f44 50%, #f8dddd 50%), -webkit-linear-gradient(left, #f44 50%, #f8dddd 50%), -webkit-linear-gradient(top, #f44 50%, #f8dddd 50%), -webkit-linear-gradient(top, #f44 50%, #f8dddd 50%);
  background-image: linear-gradient(to right, #f44 50%, #f8dddd 50%), linear-gradient(to right, #f44 50%, #f8dddd 50%), linear-gradient(to bottom, #f44 50%, #f8dddd 50%), linear-gradient(to bottom, #f44 50%, #f8dddd 50%);
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  -webkit-animation: marching-ants-1 1s;
  animation: marching-ants-1 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

#pcButton {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  background-color: #008060;
  border: 0;
  border-radius: 8px;
  padding: 5px 10px;
}

#locSel {
/*  z-index: -1;*/
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}


/*
#pcInput:invalid::after {
  content: "Invalid postcode";
  color: #646464;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  top: -22px;
  
  overflow: visible;
  white-space: nowrap;
}

*/

#pcErr {
  display: none;
}


/*
#pcErr {
  color: #646464;
  font-style: italic;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}

*/

#elecPanel {
  width: 70%;
  max-height: 90%;
  /*  overflow-y: auto;*/
}

.panel h1 {
  padding: 5px 0;
  color: hsl(165, 100%, 25%);
  /* Rainforest */
  text-align: center;
  margin: 10px 0;
}

.panel h2 {
  padding: 5px 0;
  color: hsl(165, 100%, 25%);
  /* Rainforest */
  text-align: left;
  margin: 5px 0;
}

.panel p {
  margin: 5px 0;
}

.panel p.intro {
  text-align: left;
  font-size: 16px;
  color: #444444;
}

#cands {
  max-height: 200px;
  overflow-y: auto;
}

table#candList {
  /*  display: table;*/
  width: 100%;
  border-collapse: collapse;
}

tr.gap {
  height: 5px;
}

tr.cand {
  /*  display: table-row;*/
  margin: 5px 0;
  background-color: #eeeeee;
  border: solid 1px hsl(165, 50%, 75%);
}

td.candName,
td.partyName {
  /*  display: table-cell;*/
  padding: 5px;
  text-align: left;
  vertical-align: bottom;
}

.cand img {
  max-width: 100px;
/*  width: auto;*/
  height: 100px;
  margin-right: 10px;
}


/****************** MAP ELEMENTS *****************/

#mapDiv {
  /*  display: none;*/
  /*  z-index: 2;*/
}

#viewDiv {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*  Blue of ocean surrounding Australia*/
  background-color: #98d8f1;
}

.mapBtns {
  position: absolute;
  top: 95px;
  left: 20px;
  width: 32px;
  z-index: 50;
  display: none;
}

.mapBtn {
  height: 30px;
  border: 1px solid #57585A;
  padding: 0;
  border-radius: 5px;
  margin-top: 10px;
  background: #008060 no-repeat center;
  background-size: 20px 20px;
}

.mapBtn:hover {
  /* Lightness -5% hsl(165, 100%, 20%) */
  background-color: #00664d;
}

#HomeBtn .home {
  width: 26px;
  height: 26px;
  border: 1px solid #57585A;
  background-color: white;
  background-image: url("../images/home.svg");
}

#pcBtn {
  background-image: url("../images/auspost.svg");
}

#elecBtn {
  background-image: url("../images/vote.svg");
}

#locateBtn {
  background-image: url("../images/locate.svg");
}

.esriSimpleSliderIncrementButton:hover,
.esriSimpleSliderDecrementButton:hover,
#HomeBtn .home:hover {
  background-color: #AAA;
}


/*Feature highlight symbol*/

#viewDiv_graphics_layer path {
  stroke: rgb(128, 60, 0);
  stroke-width: 3px;
  fill: #008060;
  fill-opacity: 0.35;
}

#mapHeader {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
  max-width: 90%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: #008060;
}
