html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  /*  z-index: 0;*/
  background-color: #e6ecff;
}

a:link,
a:visited {
  text-decoration: none;
  /*  Like Midnight blue*/
  color: hsl(255, 100%, 25%);
}


/***************** PANEL ELEMENTS ****************/

#shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 59;
  background-color: rgba( 0, 0, 0, 0.5);
  opacity: 1;
  /*
  -webkit-
  -moz-
  -ms-
  -o-
*/
  -webkit-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  -moz-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  -ms-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  -o-transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
  transition: z-index 0.3s ease-out, opacity 0.3s ease-out;
}

#shadow.closed,
#mapHeader.closed {
  z-index: -1;
  opacity: 0;
}

.panel {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /*  margin: 20px;*/
  margin: auto;
  /*  padding: 25px;*/
  /*  padding: 10px 10px 25px 10px;*/
  padding: 0 0 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
  background-color: white;
  z-index: 60;
  text-align: center;
  opacity: 1;
  max-height: 90%;
  /*
  -webkit-transition: 
  -moz-transition: 
  -ms-transition: 
  -o-transition: 
*/
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}


/************** INPUT PANEL ELEMENTS *************/

#inputPanel {
  /*  width: 165px;*/
  /*
  Match width of drop-down for longest locality:
    pc 2620 RENDEZVOUS CREEK DISTRICT
*/
  top: 170px;
  width: 238px;
}

.panel.closed {
  top: 145px;
  left: 20px;
  width: 32px;
  height: 110px;
  opacity: 0;
  z-index: 49;
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, opacity 1s ease-out;
}

button.close {
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  cursor: pointer;
}

button.close:hover,
button.close:active {
  color: rgba(0, 0, 0, 1);
}

#elecPanel button.close {
  color: rgba(255, 255, 255, 0.5);
}

#elecPanel button.close:hover,
#elecPanel button.close:active {
  color: rgba(255, 255, 255, 1);
}

.inputBtn {
  /*  width: 100px;*/
  width: 125px;
  margin-top: 20px;
  z-index: 60;
  height: 40px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 8px;
  padding: 0 10px 0 20px;
  background: #008060 no-repeat 5px 50%;
  background-size: 20px 20px;
  text-align: center;
  cursor: pointer;
  content: "Postcode";
  -webkit-transition: border-radius 0.3s ease-out, background-color 0.3s ease-out;
  -moz-transition: border-radius 0.3s ease-out, background-color 0.3s ease-out;
  -ms-transition: border-radius 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: border-radius 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-radius 0.3s ease-out, background-color 0.3s ease-out;
}

.inputBtn::-webkit-calendar-picker-indicator {
  display: none;
}

button.inputBtn {
  /*  width: 120px;*/
  width: 161px;
  height: 45px;
}

input.inputBtn.active {
  color: #008060;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  border-color: #888888;
  /*  width: 94px;*/
  /*  width: 119px;*/
  height: 40px;
  padding: 0 20px 0 5px;
  text-align: left;
  border-radius: 0px;
  background-image: none;
}


/*
input.inputBtn.active::after {
  content: "✖";
  position: relative;
  color: red;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  font-size: 16px;
  z-index: 200;
}
*/

input.inputBtn::-webkit-input-placeholder {
  color: white;
  font-weight: bold;
}

input.inputBtn:-moz-placeholder {
  color: white;
  font-weight: bold;
}

input.inputBtn::-moz-placeholder {
  color: white;
  font-weight: bold;
}

input.inputBtn:-ms-input-placeholder {
  color: white;
  font-weight: bold;
}

input.inputBtn.active::-webkit-input-placeholder {
  color: #888888;
  font-weight: normal;
}

input.inputBtn.active:-moz-placeholder {
  color: #888888;
  font-weight: normal;
}

input.inputBtn.active::-moz-placeholder {
  /* Firefox 19+ */
  color: #888888;
  font-weight: normal;
}

input.inputBtn.active:-ms-input-placeholder {
  color: #888888;
  font-weight: normal;
}


/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*/

input.inputBtn.active:valid {
  background-color: hsl(200, 75%, 90%);
}

.inputBtn.active:invalid {
  color: red;
  background-color: #f8dddd;
  /*  Marching ants*/
  /*
  background-image: -webkit-linear-gradient(left, #f44 50%, #f8dddd 50%), -webkit-linear-gradient(left, #f44 50%, #f8dddd 50%), -webkit-linear-gradient(top, #f44 50%, #f8dddd 50%), -webkit-linear-gradient(top, #f44 50%, #f8dddd 50%);
  background-image: linear-gradient(to right, #f44 50%, #f8dddd 50%), linear-gradient(to right, #f44 50%, #f8dddd 50%), linear-gradient(to bottom, #f44 50%, #f8dddd 50%), linear-gradient(to bottom, #f44 50%, #f8dddd 50%);
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  -webkit-animation: marching-ants-1 1s;
  animation: marching-ants-1 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
*/
}

#pcInput {
  background-image: url("../images/auspost.svg");
}

#elecInput {
  background-image: url("../images/vote.svg");
}


/*
#pcButton {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  background-color: #008060;
  border: 0;
  border-radius: 8px;
  padding: 5px 10px;
}
*/

#locSel,
#elecInputPolyfill {
  display: none;
  position: fixed;
  /*  top: 42px;*/
  /*  top: 140px;*/
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -40;
  font-size: 14px;
  color: #008060;
}

#locSel {
  top: 100px;
}

#elecInputPolyfill {
  top: 175px;
}


/*
#pcInput:invalid::after {
  content: "Invalid postcode";
  color: #646464;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  top: -22px;
  
  overflow: visible;
  white-space: nowrap;
}

*/

#pcErr {
  display: none;
  position: fixed;
  top: 125px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-style: italic;
  font-size: 14px;
  color: #f44
}


/*
#pcErr {
  color: #646464;
  font-style: italic;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}

*/

#elecInputPolyfill {
  display: none
}


/************** ELEC PANEL ELEMENTS **************/

#elecPanel {
  width: 400px;
  max-width: 90%;
  min-height: 200px;
  max-height: 90%;
  /*  top: 50%;*/
  /*  transform: translate(-50%, -50%);*/
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin-top: 20px;
}

.panel .header {
  padding: 5px 0;
  color: white;
  background-color: hsl(165, 100%, 25%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* Rainforest */
  text-align: center;
  margin: 0;
}

.panel h1 {
  margin: 20px 10px 0 10px;
}

.panel .header a {
  /*  color: hsl(200, 75%, 90%);*/
  color: hsl(60, 80%, 80%);
  /*  font-weight: bold;*/
}

.panel .header a:hover {
  /*  color: hsl(200, 75%, 90%);*/
  color: hsl(60, 100%, 60%);
  /*  font-weight: bold;*/
}

.panel h2 {
  padding: 10px 10px 0 10px;
  color: hsl(165, 100%, 25%);
  /* Rainforest */
  text-align: left;
  margin: 5px 0;
}

.panel #profile {
  margin: 0;
  padding: 5px 0;
  color: white;
  background-color: hsl(165, 100%, 25%);
}

div#candyWrapper {
  overflow-y: auto;
  margin: 0 10px;
}

table#candies {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

tr.gap {
  height: 10px;
}

tr.cand {
  /*  display: table-row;*/
  margin: 5px 0;
  /*  background-color: #eeeeee;*/
  border: solid 1px hsl(300, 45%, 45%);
  border-color: hsl(300, 45%, 45%);
}

.cand td {
  /*  display: table-cell;*/
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  /*  font-weight: bold;*/
  border: none;
}

.cand td.rightCol {
  background-image: linear-gradient(to bottom right, white 75%, hsl(300, 45%, 45%));
}


/*
.cand td.leftCol {
  border-right: none;
}

.cand td.rightCol {
  border-left: none;
}
*/

tr.cand.greens {
  border-color: hsl(139, 46%, 45%);
}

.cand.greens td.rightCol {
  background-image: linear-gradient(to bottom right, white 75%, hsl(139, 46%, 45%));
}

tr.cand.labor {
  border-color: hsl(357, 76%, 56%);
}

.cand.labor td.rightCol {
  background-image: linear-gradient(to bottom right, white 75%, hsl(357, 76%, 56%));
}

tr.cand.lib,
tr.cand.nat,
tr.cand.lnp {
  border-color: hsl(216, 70%, 36%);
}

.cand.lib td.rightCol,
.cand.nat td.rightCol,
.cand.lnp td.rightCol {
  background-image: linear-gradient(to bottom right, white 75%, hsl(216, 70%, 36%));
}

tr.cand.ind {
  border-color: hsl(30, 70%, 50%);
}

.cand.ind td.rightCol {
  background-image: linear-gradient(to bottom right, white 75%, hsl(30, 70%, 50%));
}

.rightCol .candLink {
  margin-bottom: 2px;
}

.partyLink {
  font-weight: bold;
}

.candLink + .partyLink {
  margin-top: 2px;
}


/*
a.guess::after {
  content: "?";
  font-weight: bold;
  color: #444444;
  font-size: 10px;
  vertical-align: top;
  padding: 0 4px;
  border-radius: 50%;
  background-color: #DDDDDD;
  width: 20px;
}

a.guess:hover::after {
  content: "Google";
}
*/

.cand .imgFrame {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}


/*
.cand .imgFrame img {
  min-height: 100px;
  min-width: 100px;
  width: auto;
  height: auto;
}
*/


/****************** MAP ELEMENTS *****************/

#mapDiv {
  /*  display: none;*/
  /*  z-index: 2;*/
}

#viewDiv {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*  Blue of ocean surrounding Australia*/
  background-color: #98d8f1;
}

.mapBtns {
  position: absolute;
  /*  top: 95px;*/
  top: 145px;
  left: 20px;
  width: 32px;
  z-index: 50;
  display: none;
}

.mapBtn,
#LocateButton .zoomLocateButton {
  height: 30px;
  border: 1px solid #57585A;
  padding: 0;
  border-radius: 5px;
  margin-top: 10px;
  background: #008060 no-repeat center;
  background-size: 20px 20px;
}

.mapBtn:hover,
.inputBtn:hover,
#LocateButton .zoomLocateButton:hover {
  /* Lightness -5% hsl(165, 100%, 20%) */
  background-color: #00664d;
}

#HomeBtn .home {
  width: 26px;
  height: 26px;
  border: 1px solid #57585A;
  background-color: white;
  background-image: url("../images/home.svg");
}

#LocateButton .zoomLocateButton {
  background-image: url("../images/locate.svg");
}

#pcBtn {
  background-image: url("../images/auspost.svg");
}

#elecBtn {
  background-image: url("../images/vote.svg");
}

#locateBtn {
  background-image: url("../images/locate.svg");
}

.esriSimpleSliderIncrementButton:hover,
.esriSimpleSliderDecrementButton:hover,
#HomeBtn .home:hover {
  background-color: #AAA;
}


/*Feature highlight symbol*/

#viewDiv_graphics_layer path {
  stroke: rgb(128, 60, 0);
  stroke-width: 3px;
  fill: #008060;
  fill-opacity: 0.35;
}

#mapHeader {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 20px auto;
  /*  padding: 5px 10px;*/
  /*  border-radius: 15px;*/
  /*  padding: 15px 20px;*/
  padding: 5px 20px;
  border-radius: 50px;
  /*  max-width: 95%;*/
  /*  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);*/
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
  /*  box-shadow: inset 0 0 10px 0 #1fa9e0;*/
  /*  background-color: hsl(200, 75%, 90%); pale blue*/
  background-color: white;
  background-color: hsl(60, 100%, 97%);
  border: solid 2px hsl(60, 100%, 80%);
  font-size: 20px;
  font-weight: bold;
  color: hsl(165, 100%, 25%);
  z-index: 60;
  opacity: 1;
  text-align: center;
  /*  background-image: radial-gradient(rgba(255, 255, 204, 1) 50%, rgba(255, 255, 255, 0) 75%);*/
}

#mapHeader.title {
  box-shadow: none;
  font-family: Charcoal, sans-serif;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 40px;
  text-transform: capitalize;
  background: linear-gradient(to bottom right, hsl(75, 100%, 60%), hsl(165, 100%, 60%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 0 20px;
  /*
  background: none;
  color: hsl(75, 100%, 40%);
  text-shadow: -1px -1px white, 1px 1px #333;
*/
}

#mapHeader.title img {
  height: 25px;
  width: auto;
  display: inline;
}

#mapHeader h2,
#mapHeader p {
  margin: 5px 0;
}

#mapHeader h2 {
  font-size: 28px;
}
